.container-nav-bar {
    max-width: 1920px;
    overflow-x: scroll;

}
.container-nav-bar::-webkit-scrollbar {
    background-color: white;
} 
  
.container-nav-bar ul {
    white-space: nowrap;
}
  
.container-nav-bar ul li {
    text-decoration: none;
    margin: 10px 5px;
    display: inline-block;
}
.link {
    color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
    font-size: 17px;
}
  